body{
    overflow-x: 0;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logo{
    margin-left: 12em ;
}
.logo a{
    text-decoration: none;
    cursor: pointer;
}
.logo a img{
    width: 85px;
    height: auto;  
}
.space{
    width: 40%;
}
.top_menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.top_menu a{
    text-decoration: none;
    color: white;
    padding-right: 3em;
    cursor: pointer;
    font-family: 'Hind', sans-serif;
    font-size: 13px;
    font-weight: 600;
}
.pic{
    width: 100%;
    height: 100vh;
    background: url("1.jpg");
    margin-top: -70px;
}
.text h2{
    color:white;
    font-size: 80px;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    padding-left: 2.2em;
    padding-top: 15%;
    
}
.text p{
    color: white;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Hind', sans-serif;
    padding-left: 12em;
}
.text a{
    text-decoration: none;
    padding-left: 11.1em;
    cursor: pointer;
}
.text a button{
    color: white;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Hind', sans-serif;
    background-image: none;
    background: transparent;
    padding: 15px 30px;
    border-width: 1px;
    cursor: pointer;
}
.text a button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.content{
    padding-top: 100px;
    background-color: #fafafa;
    padding: 10% 13%;
}
.blocks{
    display: flex;
    flex-wrap: wrap;
}
.block{
    width: 33%;
    height: 252px;
    background-color: white;
    padding: 1px;
}
.block-content{
    padding: 10% 10%;
}
.block-content h3{
    font-size: 22px;
    font-weight: 700;
    color: #515769;
    font-family: 'Hind', sans-serif;
}
.block a{
    position: absolute;
    cursor: pointer;
}
.block-content p{
    color:#81848f ;
    font-family: 'Hind', sans-serif;
}
.latest_product{
    width: 100%;
    height: 700px;
}
.latest-products{
    padding-left: 12em;
    padding-top: 50px;
}
.latest-text h2{
    font-size: 30px;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    color: #515769;
}
.latest-text p{
    color:#a6a7aa ;
    font-family: 'Hind', sans-serif;   
    font-size: 15px;
    font-weight: 400;
}
.pictures{
    width: 95%;
    height: 252px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2%;
}
span{
    font-size: 14px;
    font-weight: 400;
    color: #bfc1c7;
    margin-left: 20px;
}
.triangle{
    width: 28%;
    padding-right: 2.8%;
}
.triangle img{
    width: 100%;
}
.triangle h4{
    font-family: 'Hind', sans-serif; 
    color: #515769;
}
.triangle h4 a{
    text-decoration: none;
    cursor: pointer;
    color:#515769 ;
    font-size: 22px;
    font-weight: 700;
}
.triangle h4 a:hover{
    color: #81848f;
}
.triangle p{
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    font-family: 'Hind', sans-serif; 
}
.triangle a{
    text-decoration: none;
    font-size:13px ;
    font-weight: 600;
    color:#81848f ;
    cursor: pointer;
    font-family: 'Hind', sans-serif; 
}
.logos{
    width: 100%;
    background-color: #fafafa;
    height: 252px;
}
.pic-logos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-left: 11%;
    padding-right: 11%;
    padding-top: 5em;
}
.logos img{
    width: 90%;
}
.customer{
    width: 100%;
    height:450px;
}
.text_customer{
    padding-top: 60px;
    padding-left: 12em;
}
.text_customer h2{
    font-weight: 700;
    color: #515769;
    font-size:30px;
    font-family: 'Hind', sans-serif; 
}
.text_lorem{
    width: 50%;
    padding-left: 14em;
    font-family: 'Hind',sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;

}
.text_lorem span{
    color: #81848f;
    font-size: 14px;
    font-weight: 700;
}
.raznie_bloki{
    width: 100%;
    height: 750px;
    background-color: #fafafa;
}
.padding_bloki{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left:12em ;
    padding-right:12em ;
    padding-top: 10%;
    justify-content: center;
}
.block_1{
    width: 33.3%;
    height: 450px;
    background-color: white;
}
.text_1{
    padding-top: 15%;
    padding-left: 10%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.text_1 h3{
    font-weight: 700;
    color: #515769;
    font-size:22px;
    font-family: 'Hind', sans-serif; 
}
.text_1 h3 span{
    font-size: 14px;
    font-weight: 400;
    color: #bfc1c7;
}
.text_1 p{
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    margin-bottom: 15px;
    font-family: 'Hind', sans-serif;
}
.text_1 li{
    font-size: 14px;
    color: #81848f;
    list-style-type: none;
}
.text_1 a{
    text-decoration: none;
    cursor: pointer;
}
.text_1 a button{
    color: #515769;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Hind', sans-serif;
    background-color:#f3f4f5 ;
    padding: 15px 30px;
    border-width: 0;
    cursor: pointer;
    transition: 0.5s all;
    margin-top: 30px;
}
.text_1 a button:hover{
    background-color: #17bed1;
    color:white;
    cursor: pointer;
    transition: 0.5s all;
}
.block_2{
    width: 33.3%;
    height: 550px;
    background-color: white;
}
.clients{
    width: 100%;
    height:500px;
    display: flex;
    flex-wrap: wrap;
}
.text_clients{
    width: 50%;
    padding: 6em 12em;
}
.text_clients h2{
    font-size: 30px;
    font-weight: 700;
    color: #515769;
    font-family: 'Hind',sans-serif;
}
.text_clients p{
    font-family: 'Hind',sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
}
.pic_clients{
    height: 500px;
    background-image: url("05.jpg");
}
.showcase{
    width: 100%;
    background-color: #fafafa;
}
.text_showcase{
    padding: 6em 12em;
}
.text_showcase h2{
    color:#515769;
    font-size: 30px;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
}
.text_showcase p{
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    margin-bottom: 15px;
    font-family: 'Hind', sans-serif
}
.kartinki{
    padding-bottom: 6em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.footer{
    width: 100%;
    height: 100%;
    background-image: url('6.jpg');
    background-size: cover;
}
.padding_footer{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.spisok_1{
    padding-top: 10px;
}
.spisok , .spisok_1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.spisok a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #cbd3e1;
    font-family: 'Hind', sans-serif;
}
.spisok_1 a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #cbd3e1;
    font-family: 'Hind', sans-serif;
    justify-content: space-around;
}
.forma h2{
    color:white;
    font-size: 30px;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
}
.forma{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form{
    font-size: 14px;
    font-weight: 400;
    background-color: #515751;
    border: none;
    padding-left: 15px;
    width: 450px;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-image: none;
    margin-bottom: 20px;
}
.forms{ 
    height: 150px;
    color: #555;
    background-image: none;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    background-color: #515751;
    border: none;
}
.forma button{
    background: #17bed2;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 15px 30px;
    text-align: center;
    height: 50px;
    width: 35%;
    border: none;
}
@media (max-width:1200px){
    .header{
        width: 1170px;
    }
}
@media (max-width:992px){
    .header{
        width: 960px;
    }
}
@media (max-width:768px){
    .header{
        width: 720px;
    }
}
@media (max-width:576px){
    .header{
        width: 540px;
    }
}
@media (max-width:375px){
    .header{
        width: 375px;
    }
}
@media (max-width:1200px){
    .pic{
        width: 1170px;
    }
}
@media (max-width:992px){
    .pic{
        width: 960px;
    }
}
@media (max-width:768px){
    .pic{
        width: 720px;
    }
}
@media (max-width:576px){
    .pic{
        width: 540px;
    }
}
@media (max-width:375px){
    .pic{
        width: 375px;
    }
}
@media (max-width:1200px){
    .content{
        width: 1170px;
    }
}
@media (max-width:992px){
    .content{
        width: 960px;
    }
}
@media (max-width:768px){
    .content{
        width: 720px;
    }
}
@media (max-width:576px){
    .content{
        width: 540px;
    }
}
@media (max-width:375px){
    .content{
        width: 375px;
    }
}
@media (max-width:1200px){
    .latest_product{
        width: 1170px;
    }
}
@media (max-width:992px){
    .latest_product{
        width: 960px;
    }
}
@media (max-width:768px){
    .latest_product{
        width: 720px;
    }
}
@media (max-width:576px){
    .latest_product{
        width: 540px;
    }
}
@media (max-width:375px){
    .latest_product{
        width: 375px;
    }
}
@media (max-width:1200px){
    .logos{
        width: 1170px;
    }
}
@media (max-width:992px){
    .logos{
        width: 960px;
    }
}
@media (max-width:768px){
    .logos{
        width: 720px;
    }
}
@media (max-width:576px){
    .logos{
        width: 540px;
    }
}
@media (max-width:375px){
    .logos{
        width: 375px;
    }
}
@media (max-width:1200px){
    .customer{
        width: 1170px;
    }
}
@media (max-width:992px){
    .customer{
        width: 960px;
    }
}
@media (max-width:768px){
    .customer{
        width: 720px;
    }
}
@media (max-width:576px){
    .customer{
        width: 540px;
    }
}
@media (max-width:375px){
    .customer{
        width: 375px;
    }
}
@media (max-width:1200px){
    .raznie_bloki{
        width: 1170px;
    }
}
@media (max-width:992px){
    .raznie_bloki{
        width: 960px;
    }
}
@media (max-width:768px){
    .raznie_bloki{
        width: 720px;
    }
}
@media (max-width:576px){
    .raznie_bloki{
        width: 540px;
    }
}
@media (max-width:375px){
    .raznie_bloki{
        width: 375px;
    }
}
@media (max-width:1200px){
    .clients{
        width: 1170px;
    }
}
@media (max-width:992px){
    .clients{
        width: 960px;
    }
}
@media (max-width:768px){
    .clients{
        width: 720px;
    }
}
@media (max-width:576px){
    .clients{
        width: 540px;
    }
}
@media (max-width:375px){
    .clients{
        width: 375px;
    }
}
@media (max-width:1200px){
    .showcase{
        width: 1170px;
    }
}
@media (max-width:992px){
    .showcase{
        width: 960px;
    }
}
@media (max-width:768px){
    .showcase{
        width: 720px;
    }
}
@media (max-width:576px){
    .showcase{
        width: 540px;
    }
}
@media (max-width:375px){
    .showcase{
        width: 375px;
    }
}
@media (max-width:1200px){
    .footer{
        width: 1170px;
    }
}
@media (max-width:992px){
    .footer{
        width: 960px;
    }
}
@media (max-width:768px){
    .footer{
        width: 720px;
    }
}
@media (max-width:576px){
    .footer{
        width: 540px;
    }
}
@media (max-width:375px){
    .footer{
        width: 375px;
    }
}





